.a{
	width: 200px;
	height: 80px;
	background-color: palegoldenrod;
}

.b{
	width: 200px;
	height: 80px;
	background-color: palegreen;
}

.c{
	width: 200px;
	height: 80px;
	background-color: paleturquoise;
}

.d{
	width: 200px;
	height: 80px;
	background-color: palevioletred;

}

.e{
	width: 200px;
	height: 80px;
	background-color: papayawhip;
}

.f{
	width: 200px;
	height: 80px;
	background-color: peachpuff;
}

.g{
	width: 200px;
	height: 80px;
	background-color:palegreen ;
}

.h{
	width: 200px;
	height: 80px;
	background-color: peru;
}

.i{
	width: 200px;
	height: 80px;
	background-color: pink;
}

.j{
	width: 200px;
	height: 80px;
	background-color: plum;
}

.k{
	width: 200px;
	height: 80px;
	background-color: powderblue;
}

.l{
	width: 200px;
	height: 80px;
	background-color: purple;
}

.m{
	width: 200px;
	height: 80px;
	background-color: springgreen;
}

.n{
	width: 200px;
	height: 80px;
	background-color: deeppink;
}

.o{
	width: 200px;
	height: 80px;
	background-color: aliceblue;
}

.p{
	width: 200px;
	height: 80px;
	background-color: antiquewhite;
}

.q{
	width: 200px;
	height: 80px;
	background-color: aqua;
}

.r{
	width: 200px;
	height: 80px;
	background-color: aquamarine;
}

.s{
	width: 200px;
	height: 80px;
	background-color: azure;
}

.t{
	width: 200px;
	height: 80px;
	background-color: palegreen;
}

.u{
	width: 200px;
	height: 80px;
	background-color: cadetblue;
}

.v{
	width: 200px;
	height: 80px;
	background-color: beige;
}

.w{
	width: 200px;
	height: 80px;
	background-color: bisque;
}

.x{
	width: 200px;
	height: 80px;
	background-color: black;
}

.y{
	width: 200px;
	height: 80px;
	background-color: blanchedalmond;
}