.textalign{
	/*text-align: left;*/
	/*text-align: right;*/
	/*text-align: center;*/
	text-align:justify ;
} 

.textdecoration{
	/*text-decoration: underline;*/
	/*text-decoration: overline;*/
	text-decoration: line-through;
}

a{
	text-decoration: none;
}

.textline{
	/*letter-spacing: 5px ;*/
	/*line-height: 25px;*/
	/*line-height: 2;*/
    line-height: 300%;

}

.textshadow{
	/*h v b c */

	/*text-shadow: 5px 0px 10px red;*/
	/*text-shadow: -5px 0px 10px red;*/

	/*text-shadow: 0px 5px 10px blue;*/
	/*text-shadow: 0px -5px 10px blue;*/

	/*text-shadow: 5px 5px 5px blue;*/
	/*text-shadow: -5px -5px 5px blue;*/

	/*text-shadow: 5px 5px 5px #56a832;*/
	/*text-shadow: 5px 5px 5px rgba(220,36,255,1.00;*/

	/*text-shadow: 5px 0px 5px red,0px 5px 5px yellow,0px -5px 5px blue;*/
}