*{
	cursor: pointer;
}
/*Tag to Tag*/

/*div span{
	color: red;
}
*/

/*Multi Tags to Tag*/
/*div span p{
	color: darkred;
}*/

/*Tags to Class*/
/*div .address{
	color: darkred;
}*/

/*Multi Tags to Class*/
/*div span .address{
	color: darkred;
}*/

/*Multi Tags to Same Class*/
/*div span small.name{
	color: red;
}*/

/*Class to Class*/
/*.money .currency{
	color: red;
}*/

/*Multi Class to Class*/
/*.bank .money .currency{
	color: red;
}*

/*Class to Tag*/
/*.container p{
	color: red;
}*/

/*Class to Multi Tags*/
/*.container b span{
/	color: red;
}*/

/*Same Class*/
/*.mobile.jpn{
	color: red;
}

.mobile.cn{
	color: green;
}

.mobile.us{
	color: blue;
}

/*Class to Same Class*/
/*.vehicle .car.jpn{
	color: darkred;
}

.vehicle .car.cn{
	color: skyblue;
}

.vehicle .car.indo{
	color: green;
}
*/
/*Class to tag by group selector*/
/*.div1 p,.div1 b{
	color: blueviolet;
}*/

/*Child Selector ( > )*/
/*.div2 > P{
	color: orangered;
}*/

/*Sibling Selectors (2 types)*/
/*(i)General Sibling Selector ( ~ )*/
/*.div4 ~ b{
	color: orangered;
}
*/

/*(ii)Adjecent Sibling Selector ( + )*/
.div7 + p{
	color: orangered;
}
