/*.paragraph::first-line{
	color: hotpink;
	font-size: 20px;
}*/

/*.paragraph::first-letter{
	color: palevioletred;
	font-size: 40px;
}*/

.paragraph::selection{
	background-color: orange;
	color: floralwhite;
}

/*.paragraph::before{
	content: "ABC";
    font-size: 40px;

}

.paragraph::after{
	content: "Hello";
	font-size: 40px;
}*/

