.divtop{
	width: 1200px;
	height: 150px;
	border: 2px solid silver;
}

.divleft{
	width: 98px;
	height: 500px;
	border: 2px solid silver;

	float: left;
}

.divcenter{
	width: 896px;
	height: 500px;
	border: 2px solid silver;

	float: left;
}

.divright{
	width: 198px;
	height: 500px;
	border: 2px solid silver;

	float: left;
}

.divbottom{
	width: 1200px;
	height: 100px;
	border: 2px solid silver;

	clear: both;
}